$color-blue: #4e74ff;
$color-red: #fb3838;
$color-yellow: gold;
$color-green: #77ffa0;
$color-black: #252525;
$color-white: #ffffff;

$bg-light-1: #ffffff;
$bg-light-2: #eff2f5;
$bg-light-3: #cfd6e4;
$bg-light-4: #58667e;

$text-light-1: #222531;
$text-light-2: #58667e;