@use '../../partials/colors' as *;

.Options {
    display: flex;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;

    &__icon {
        font-family: 'Material Icons';
        font-style: normal;
        user-select: none;
        font-size: 1rem;
    }
    &__option {
        border: 1px solid rgb(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 0.5rem;
        background-color: white;
        color: $text-light-2;

        &--primary {
            background-color: $color-blue;
            color: white;
        }
    }
    &__dropdown-wrapper {
        position: relative;
    }
}

.Dropdown {
    position: absolute;
    top: 1.75rem;
    right: 0;
    width: max-content;
    background-color: $bg-light-1;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    
    & > * {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;

        &:last-child {
            margin-bottom: 0;
        }

        input {
            margin-right: 0.25rem;
            cursor: pointer;
        }
    }

    &__footer {
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        border-top: 1px solid rgb(0, 0, 0, 0.1);

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            color: grey;

            img {
                height: 1rem;
                user-select: none;
                opacity: 0.5;
                margin-right: 0.25rem;
            }

            &:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}